@model RbacDemo001.RoleModules.RoleModuleView
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayoutForm.cshtml";
}

<form class="bootstrap-frm" action="@Url.Action("Update")">
    <h1>用户管理 - 编辑</h1>
    <input type="hidden" name="RoleId" value="@Model.RoleId"/>
    <input type="hidden" name="ModuleId" value="@Model.ModuleId"/>
    <label>
        <span>角色名称：</span>
        <input type="text" name="RoleName" value="@Model.RoleName" disabled="disabled"/>
    </label>
    <label>
        <span>模块名称</span>
        <input type="text" name="ModuleName" value="@Model.ModuleName" disabled="disabled"/>
    </label>

    <label>
        <span>更新模块</span>
       @Html.DropDownList("UpdateModuleId", (IEnumerable<SelectListItem>)ViewBag.ModuleOption)
    </label>                


    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="提交" />
    </label>
</form>
@section Script
{
    <script>
        $(".button").click(function() {
            $.ajax({
                url:'@Url.Action("Update","RoleModule")',
                type: 'post',
                data: $("form").serialize(),
                success:function(data) {
                    if (data.code === 200) {

                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.location.reload();
                    } else {
                        alert("提交失败");
                    }
                }
            });
        });
    </script>`
}




